html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  background: url(/img/grid.jpg) repeat top left;
  background-color: #e4e4e4;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 72px;
}

.greeting {
  margin: 72px auto 0 auto;
}

.headshot {
  max-width: 220px;
  max-height: 220px;
  border: none;
}

.intro {
  margin-top: 48px;
}

.projects {
}

h1 {
  margin-top: 16px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #434343;
}

h2 {
  margin-top: 64px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  color: #434343;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #434343;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #868686;
}

a:link {
  font-weight: 400;
  color: #434343;
}

a:visited, a:hover {
  color: #868686;
}

@media all and (max-width: 700px) {
  .container {
    max-width: 90%;
  }
}

@media all and (max-width: 620px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    margin-top: 60px; 
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .greeting {
    margin-top: 60px;
  }

  .headshot {
    max-width: 190px;
    max-height: 190px;
  }

  .intro {
    margin-top: 44px;
  }
}

@media all and (max-width: 460px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    margin-top: 48px;
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  .greeting {
    margin-top: 48px;
  }

  .headshot {
    max-width: 150px;
    max-height: 150px;
  }

  .intro {
    margin-top: 32px;
  }
}